.header-nav__wrapper {
  /* width: 100%; */
  margin-top: 27px;
  display: flex;
  justify-content: flex-end;
  max-width: 1200px;
  padding: 0 20px;
}

.header-nav {
  position: relative;
}

/* Бургер-меню */
.burger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
  flex-direction: column;
  gap: 9px;
}

.burger-line {
  width: 30px;
  border: 1.6px solid #21243D;
  border-radius: 2px;
}

/* Список навігації */
.nav-list {
  display: flex;
  gap: 33px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item a {
  font-family: Heebo;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

.nav-item a.active {
  color: #FF6464;
}

/* Мобільний стиль */
@media (max-width: 850px) {
  .burger-menu {
    margin-top: 20px;
    display: flex;
  }

  .nav-list {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    gap: 15px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-list.open {
    display: flex;
  }
}
