.blog-title{
  font-family: Heebo;
  font-size: 30px;
  font-weight: 500;
  line-height: 44.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #21243D;
}